/*LAYOUT*/
body, html {
    outline: none !important;
    width: 100%;
}
.header {
    padding: 1rem 3rem;
}

.header-img {
    max-height: 260px;
    width: 100%;
    object-fit: cover;
}

/*NAVIGATION*/
.navigation-bar {
    padding: 0.5rem 3rem;
}

.clickable {
    cursor: pointer;
}

/*TABLES*/

td {
    vertical-align: middle;
}

/*TEXT*/

label {
    font-weight: bold;
}

a {
    color: initial !important;
    text-decoration: none !important;
}