@{
    ViewData["Title"] = "Home Page";
    ViewData["HasFullContent"] = true;

}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Lorem Ipsum</h1>
    <p class="fs-5 text-muted">Vivamus hendrerit felis vitae elit ornare volutpat. Vivamus convallis bibendum arcu. Ut consequat eu orci sed fermentum. Mauris scelerisque massa dui. Vestibulum suscipit facilisis pretium.</p>
</div>
<img src="~/imgs/layout/header-image.jpg" class="header-img" alt="Imagem com frutas saudaveis">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <p class="fs-5 text-muted">
        Mauris elit dui, ultrices non aliquet a, euismod a mauris. Duis tellus leo, tempus ut aliquet sed, lacinia ut elit. Quisque consectetur, ligula sed vulputate malesuada, erat massa pulvinar sapien, quis rhoncus quam lacus ac ante. Vestibulum iaculis, eros eget venenatis semper, lacus nunc imperdiet lacus, vel feugiat enim nibh efficitur velit. Proin ipsum erat, maximus quis nibh id, elementum aliquam ligula. Sed lacinia nisl nibh,
        eget faucibus sapien accumsan et. Morbi aliquam, augue vel vulputate laoreet, odio velit condimentum nibh, a p
        retium ex dui eget felis. Sed tristique tincidunt rhoncus. Nunc placerat felis vel diam maximus scelerisque.
    </p>
</div>
